@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #f5f5f5;
  --primary: #3b82f6;
}

@layer base {
  * {
    @apply border-neutral-700;
  }
  body {
    @apply antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
